In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
import pycountry
import pypopulation

In [16]:
import plotly

ModuleNotFoundError: No module named 'plotly'

In [11]:
import wbgapi as wba
import world_bank_data as wb

In [14]:
population = wb.get_series('SP.POP.TOTL', mrv=1)
population

Country                         Series             Year
Africa Eastern and Southern     Population, total  2022    720839314.0
Africa Western and Central      Population, total  2022    490330870.0
Arab World                      Population, total  2022    464684914.0
Caribbean small states          Population, total  2022      7505478.0
Central Europe and the Baltics  Population, total  2022    100648571.0
                                                              ...
Virgin Islands (U.S.)           Population, total  2022       105413.0
West Bank and Gaza              Population, total  2022      5043612.0
Yemen, Rep.                     Population, total  2022     33696614.0
Zambia                          Population, total  2022     20017675.0
Zimbabwe                        Population, total  2022     16320537.0
Name: SP.POP.TOTL, Length: 266, dtype: float64

In [15]:
# Same data set, indexed with the country code
population = wb.get_series('SP.POP.TOTL', id_or_value='id', simplify_index=True, mrv=1)
population

Country
AFE    720839314.0
AFW    490330870.0
ARB    464684914.0
CSS      7505478.0
CEB    100648571.0
          ...
VIR       105413.0
PSE      5043612.0
YEM     33696614.0
ZMB     20017675.0
ZWE     16320537.0
Name: SP.POP.TOTL, Length: 266, dtype: float64

In [13]:
wb.search_indicators("population")

,name,unit,source,sourceNote,sourceOrganization,topics
id,,,,,,
1.0.HCount.1.90usd,Poverty Headcount ($1.90 a day),,LAC Equity Lab,The poverty headcount index measures the propo...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,Poverty
1.0.HCount.2.5usd,Poverty Headcount ($2.50 a day),,LAC Equity Lab,The poverty headcount index measures the propo...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,Poverty
1.0.HCount.Mid10to50,Middle Class ($10-50 a day) Headcount,,LAC Equity Lab,The poverty headcount index measures the propo...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,Poverty
1.0.HCount.Ofcl,Official Moderate Poverty Rate-National,,LAC Equity Lab,The poverty headcount index measures the propo...,LAC Equity Lab tabulations of data from Nation...,Poverty
1.0.HCount.Poor4uds,Poverty Headcount ($4 a day),,LAC Equity Lab,The poverty headcount index measures the propo...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,Poverty
...,...,...,...,...,...,...
UIS.YADULT.PROFINUMERACY.M,Proportion of population achieving at least a ...,,Education Statistics,The percentage of male youth and adults (15 ye...,UNESCO Institute for Statistics,
UIS.YADULT.PROFINUMERACY.NAT,Proportion of population achieving at least a ...,,Education Statistics,The percentage of non-immigrant youth and adul...,UNESCO Institute for Statistics,
UIS.YADULT.PROFINUMERACY.NON,Proportion of population achieving at least a ...,,Education Statistics,The percentage of immigrant youth and adults (...,UNESCO Institute for Statistics,
UIS.YADULT.PROFINUMERACY.NPIA,Proportion of population achieving at least a ...,,Education Statistics,The Adjusted Native Parity Index (NPIA) is cal...,UNESCO Institute for Statistics,
UIS.YADULT.PROFINUMERACY.WPIA,Proportion of population achieving at least a ...,,Education Statistics,The Adjusted Wealth Parity Index (WPIA) is cal...,UNESCO Institute for Statistics,

In [12]:
wb.get_countries()

,iso2Code,name,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
id,,,,,,,,,
ABW,AW,Aruba,Latin America & Caribbean,,High income,Not classified,Oranjestad,-70.0167,12.5167
AFE,ZH,Africa Eastern and Southern,Aggregates,,Aggregates,Aggregates,,NaN,NaN
AFG,AF,Afghanistan,South Asia,South Asia,Low income,IDA,Kabul,69.1761,34.5228
AFR,A9,Africa,Aggregates,,Aggregates,Aggregates,,NaN,NaN
AFW,ZI,Africa Western and Central,Aggregates,,Aggregates,Aggregates,,NaN,NaN
...,...,...,...,...,...,...,...,...,...
XZN,A5,Sub-Saharan Africa excluding South Africa and ...,Aggregates,,Aggregates,Aggregates,,NaN,NaN
YEM,YE,"Yemen, Rep.",Middle East & North Africa,Middle East & North Africa (excluding high inc...,Low income,IDA,Sana'a,44.2075,15.3520
ZAF,ZA,South Africa,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Upper middle income,IBRD,Pretoria,28.1871,-25.7460
ZMB,ZM,Zambia,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,IDA,Lusaka,28.2937,-15.3982
ZWE,ZW,Zimbabwe,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312

In [7]:
pypopulation.get_population("DE")

83132799

In [5]:
df = pd.read_csv("https://github.com/AlexTheAnalyst/PandasYouTubeSeries/blob/main/world_population.csv")

ParserError: Error tokenizing data. C error: Expected 1 fields in line 32, saw 6